/* simple parallax background */
body {
    background-image: url('https://t3.ftcdn.net/jpg/02/64/27/90/360_F_264279006_WDXxV3OHjAOoHqH7iiLDrg23p0947g7U.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    margin: 2rem auto;
}