/* ALL PAGE CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;                                     /* prevent horizontal scrolling     */
    display: flex;
    flex-direction: column;

    background-image: url(../resources/space-bg.png);       /* background image                 */
    background-attachment: fixed;                           /* creates parallax                 */
    background-position: center;                            /* centres and scales               */
    background-size: cover;
    image-rendering: pixelated;                             /* keep pixelated                   */
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;                                     /* prevent horizontal scrolling     */
    display: flex;
    flex-direction: column;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    background-color: #333;
    padding: 1rem;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 1.5rem;
}
nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}      


