@media (orientation: portrait) {
    .header-container {
        /* Changes height to match 9 tiles instead of 15 */
        aspect-ratio: 9 / 1;
        /* Zooms in: 15 tiles / 9 visible = 166.66% */
        background-size: 166.66% 100%;
    }

    main {
    margin: 0 auto;                               
    color: white;
    width: 100%;

    min-height: 200vh; /* Ensure main takes at least full viewport height */
}
}


